.bag {
  height: 100%;
  width: 100%;
}

.clickable {
  border: 0.4rem solid rgb(0, 0, 0);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  user-select: none;
  transition: color 0.05s, background-color 0.05s, box-shadow 0.1s;
  overflow: hidden;
  position: relative;
}

.clickable:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.545) !important;
  z-index: 5;
}

.clickable:active {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
  cursor: grabbing !important;
}

.clickableOverlay {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  transition: color 0.3s;
  position: absolute;
}

.clickable:active {
  background-color: black;
}
