.roll {
  border-radius: 50%;
}

.pannier {
  border-radius: 1rem;
}

.clickable {
  border: 0.4rem solid rgba(0, 0, 0, 0.505);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  user-select: none;
  z-index: 1;
  position: absolute;
}

.filled {
  border-width: 0.8rem;
  background-color: rgba(0, 0, 0, 0.586);
}

.clickable:hover {
  background-color: rgba(0, 0, 0, 0.545);
  color: white;
}

.clickableOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.1s;
}

.clickable:active {
  background-color: black;
}
