.Base {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: rgb(55, 141, 255);
  background: linear-gradient(
    170deg,
    rgba(55, 141, 255, 1) 44%,
    rgba(0, 110, 255, 1) 100%
  );
}
