.modalOverlay {
  position: fixed;
  display: flex;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.277);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.blur {
  backdrop-filter: blur(10px);
}

.modalContent {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24vw;
  transition: all 0.2s;
}

.modalContent:hover {
  scale: 1.02;
}

.modalBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in width */
  padding-inline: 2rem; /* Adjust padding if needed */
  flex-direction: column;
  gap: 8px;
}

h2 {
  text-transform: uppercase;
}

.modalBody input {
  display: flex;
  height: 2vh;
  width: 100%;
  margin-bottom: 0px;
}

.buttons {
  display: flex;
  height: 9vh;
  width: 100%; /* Match the input width */
  justify-content: space-between;
  box-sizing: border-box; /* Include padding and border in width */
  padding: 1rem; /* Adjust padding if needed */
  gap: 8px;
}

.modalContent button {
  border-style: none;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s;
}

.buttons button:hover {
  scale: 1.03;
}

.buttons .abort {
  background-color: white;
  color: black;
  border: 0.1rem solid black;
}

.buttons .submit {
  background-color: black;
  color: white;
}

.buttons .destroy {
  background-color: rgb(255, 0, 0);
}

.customSelect {
  appearance: none;
  height: 5vh;
  font-size: 1rem;
  font-weight: 500;

  padding-left: 1rem;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
}
