.Sidebar {
  /* positioning */
  position: absolute;
  margin-left: 3vh;
  z-index: 2;
  height: 35%;
  user-select: none;

  /* styling */
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 2.5rem;
  padding: 1rem;
  transition: all 0.3s;

  /* children */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Sidebar:hover {
  scale: 1.02;
}

.Menu {
  display: flex;

  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.menuIcon {
  font-size: 3rem;
  transition: all 0.3s;
  z-index: 10;
  cursor: pointer;
}

.menuIcon:hover {
  color: aqua;
}

.Submenu {
  height: 100%;
  transition: width 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-wrap: nowrap;
  gap: 0.5rem;
}

.submenuItem {
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  user-select: none;
  border-radius: 3rem;
  transition: all 0.3s;

  /* remove underlines */
  text-decoration: none;
}

.submenuItem:hover {
  background-color: white;
  color: black;
  scale: 1.04;
}
