.Sidebar {
  background-color: rgb(200 221 174);
  color: rgb(121 146 106);
  z-index: 1;
  min-width: 20%;
  height: 100vh;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Sidebar ul {
  padding: 0px;
  list-style: none;
  list-style-type: none;
  text-align: start;
}

.Sidebar li {
  padding-block: 1rem;
}

.Sidebar a:hover {
  padding: 10px;
  background-color: rgb(44 70 39);
  color: rgb(232 254 200);
}

.subitem {
  text-decoration: none;
  color: white;
}

.Sidebar a {
  user-select: none;
  cursor: pointer;
  scale: 1.05;
  transition: all 0.3s;
  border-radius: 8px;
}

.Sidebar h1 {
  user-select: none;
  cursor: default;
  color: rgb(44 70 38);
}

.Sidebar h1,
.Sidebar ul {
  text-transform: uppercase;
  margin-left: 3rem;
}

.cascadingMenu {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: row;
}

.submenu {
  display: flex;
  flex: 1;
  padding: 1rem;
  margin-left: 10%;
  width: 300px;
  background-color: rgb(227 237 214);
  border-radius: 1rem;
}

.submenu a {
  color: rgb(44 70 39);
}

.submenu ul {
  margin: 0px;
}
