.Sidebar {
  background-color: black;
  color: white;
  z-index: 1;
  min-width: 20%;
  height: 100vh;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Sidebar ul {
  padding: 0px;
  list-style: none;
  list-style-type: none;
  text-align: start;
}

.Sidebar li {
  padding-block: 1rem;
}

.Sidebar a:hover {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
}



.Sidebar a {
  user-select: none;
  cursor: pointer;
  scale: 1.05;
  transition: all 0.3s;
  border-radius: 8px;
}

.Sidebar h1 {
  user-select: none;
  cursor: default;
}

.Sidebar h1,
.Sidebar ul {
  text-transform: uppercase;
  margin-left: 3rem;
}

.cascadingMenu {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: row;
}

.submenu {
  display: flex;
  flex: 1;
  padding: 1rem;
  margin-left: 10%;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.189);
  border-radius: 1rem;
}

.submenu ul {
  margin: 0px;
}
