.Workspace {
  position: relative; /* Make sure it can expand freely */
  width: 100vw;
  height: 100%;
  min-height: fit-content;
  overflow: hidden; /* Enable both vertical and horizontal scroll */
  display: flex;
  flex-direction: row;
  background-color: #ccc;
}
.paneContainer {
  height: min-content;
  color: black;
  padding-inline: 1.4rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.BicycleVector {
  position: absolute;
  padding: 30px;
  transform-origin: top left;
  width: 700px;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  z-index: -10;
}

.bikeName {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 3vw;
  font-weight: 500;
  user-select: none;
  cursor: default;
}

.zoomButton {
  transition: all 0.1s;
}

.zoomButton:active {
  color: rgb(0, 106, 255);
  scale: 0.9;
}
