.Workspace {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10vw;
}

.Manager {
  height: 10vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.Manager ul {
  display: flex;
  list-style: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: white;
  gap: 4px;

  justify-content: center;
  align-items: center;
}

.Manager nav {
  position: relative;
}

.Manager .MenuBar {
  display: flex;
  background-color: black;
  position: relative;
  border-radius: 3rem;
  transition: all 0.3s;
  border: 0.2rem solid black;
  overflow: hidden;
}

.Manager h2 {
  margin-left: 1rem;
  font-size: 2rem;
  text-transform: none;
}

.Manager li {
  padding: 1.3rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.Manager li:hover {
  color: aqua;
}

.Manager li:active {
  scale: 1.1;
  background-color: white;
  color: black;
}

.Display {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  user-select: none;
}

.Manager .dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.604);
  left: 0px;
  top: 120%;
  width: 10vw;
  height: 40vh;
  border-radius: 1rem;
  overflow: hidden;
  gap: 4px;
  align-items: center;
  padding: 0.3rem;
  cursor: default;
  z-index: 10;
}

.Manager .dropdown button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 95%;
  border-style: none;
  height: 5vh;
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
}

.BicycleVector {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 150%;
  transform: translate(15%, -12%);

  user-select: none;
}

.bikeName {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 3vw;
  font-weight: 500;
  user-select: none;
  cursor: default;
}
