.App {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 100vmin;
  position: absolute;
}

h1 {
  font-size: 3rem;
}

a {
  font-size: 1.5rem;
}


.App-link {
  color: #61dafb;
}
